* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: rgb(0, 3, 19);
	color: #155;
	font-family: Arial, Helvetica, sans-serif;

}

.container {
	display: flex;
	justify-content: space-around;
	align-items: center;
	min-height: 100vh;
}

h1 {
	position: relative;
	outline: none;
	font-size: 200px;
	text-transform: uppercase;
	letter-spacing: 5px;
	-webkit-box-reflect: below 1px linear-gradient(transparent,#000);
	animation: animate 5s linear infinite;
}

@keyframes animate {
	0% {

	}
	70% {
		text-shadow: 0 0 10px rgb(0, 204, 255),
	0 0 20px rgb(0, 204, 255),
	0 0 30px rgb(0, 204, 255),
	0 0 40px rgb(0, 204, 255);
	}

	100% {

	}
}